
h1 {
  color: white;
  font-size: 72px;
  padding: 25px 0 0 100px;
  font-family: helvetica;
  font-weight: 100;
}

.star {
  position: absolute;
  background: url(../images/julie-logo-sparkle.png) no-repeat;
  background-size: contain;
  overflow: hidden;
}
.star.star-1 {
  width: 50px;
  height: 34px;
  top: 110px;
  left: 697px;
}
.star.star-2 {
  width: 83px;
  height: 77px;
  top: 18px;
  left: 724px;
}
.star.star-3 {
  width: 74px;
  height: 70px;
  top: 115px;
  left: 572px;
}
.star.star-4 {
  width: 68px;
  height: 70px;
  top: 46px;
  left: 562px;
}





























#ProgressBarContainer {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}


.ui-page-theme-g {
  /*background-image: url('../images/carbon_fibre.png');*/
   background-color: black;
}



html {
  cursor: none;
  overflow:hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 2em;
  /*line-height: 1.5em;*/
  -webkit-font-smoothing: antialiased;
}

/**
 * Default styles.
 */

.dimmed {
  color: #666;
}

.normal {
  color: #999;
}

.bright {
  color: #fff;
}

.xsmall {
  font-size: 15px;
  line-height: 20px;
}

.small {
  font-size: 20px;
  line-height: 25px;
}

.medium {
  font-size: 30px;
  line-height: 35px;
}

.large {
  font-size: 65px;
  line-height: 65px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}

.thin {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.light {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.regular {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.region {
  position: absolute;
}



.region.top {
  top: 0px;
}

.region.top .container {
  margin-bottom: 25px;
}

.region.top .container:empty {
  margin-bottom: 0;
}

.region.top.center,
.region.bottom.center {
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}



.region.bottom {
  bottom: 0;
}

.region.bottom .container {
  margin-top: 25px;
}

.region.bottom .container:empty {
  margin-top: 0;
}

.region.bottom.right,
.region.bottom.center,
.region.bottom.left {
  bottom: 100%;
}

.region.bar {
  width: 100%;
  text-align: center;
}

.region.third,
.region.middle.center {
  width: 100%;
  text-align: center;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.region.upper.third {
  top: 33%;
}

.region.middle.center {
  top: 50%;
}

.region.lower.third {
  top: 66%;
}

.region.left {
  text-align: left;
  left: 5px;
}

.region.right {
  text-align: right;
  right: 5px;
}

.region table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
